*, *::before, *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  body {
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.7;
    text-rendering: optimizeLegibility; }
  input::placeholder {
    color: #999; }
  .border-form-event {
    margin: 4px auto;
    border-bottom: 1px solid #eee;
    width: 100%;
    border-radius: 100%; }
  .container__flair__form {
    width: 90%;
    margin: 36px auto;
    padding: 1rem;
    font-size: 16px; }
    .container__flair__form form {
      color: #999; }
  .form__select_events-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 10px auto; }
  .input-date-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 10px auto; }
  .select_event-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .input-field-fs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .input-dates {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .input-dates-fs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .primary-event-input {
    width: 100%; }
  .select-event-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .full-control-input {
    padding: 0px 20px;
    border-bottom: 3px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-top: 1px solid #eee;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    color: #999; }
  .client__select-grid {
    padding: 7px 20px;
    border-bottom: 3px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-top: 1px solid #eee;
    border-radius: 5px;
    background-color: #fff;
    outline: none;
    border-radius: 5px;
    color: #999; }
    .client__select-grid option {
      padding: 10px 0; }
  .event-full-select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .full-select {
    padding: 7px 20px;
    border-bottom: 3px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-top: 1px solid #eee;
    border-radius: 5px;
    background-color: #fff;
    outline: none;
    border-radius: 5px;
    color: #999; }
  .input-fields-hs {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 4px auto; }
  .hs-input-fx {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .hs-input-fx .input {
      padding: 7px 20px;
      border-bottom: 3px solid #eee;
      border-left: 1px solid #eee;
      border-right: 1px solid #eee;
      border-top: 1px solid #eee;
      border-radius: 5px;
      outline: none;
      font-size: 16px;
      color: #999; }
    .hs-input-fx .form-field-hs {
      padding: 7px 20px;
      border-bottom: 3px solid #333;
      border-left: 1px solid #eee;
      border-right: 1px solid #eee;
      border-top: 1px solid #eee;
      border-radius: 5px;
      outline: none;
      font-size: 16px;
      color: #999; }
  .styled-input {
    padding: 0px 20px;
    border-bottom: 3px solid #777;
    border-left: 1px solid #777;
    border-right: 1px solid #777;
    border-top: 1px solid #777;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    color: #646464;
    background-color: #fff; }
  .styled-dates {
    padding: 0px 20px;
    border-bottom: 3px solid #777;
    border-left: 1px solid #777;
    border-right: 1px solid #777;
    border-top: 1px solid #777;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    color: #646464;
    margin: 0 3px;
    background-color: #fff; }
  .input-date-grids {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 4px auto; }
  .input-field-grids {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 4px auto; }
  .input-field-full-grid {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-gap: 10px;
    margin: 4px auto; }




/* Form Basics */
.flex-row-sep {
    display: flex;
    justify-content: space-between;
}



/* Custom Checkbox  */
.checkbox-labled {
    display: flex;
}
.lable-text {
    margin-right: 10px;
    color: #999;
}
.container-check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;


  }

  /* Hide the browser's default checkbox */
  .container-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 3px;
    color: #999;
  }

  /* On mouse-over, add a grey background color */
  .container-check:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .container-check input:checked ~ .checkmark {
    background-color: #eee;
    color: #999;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container-check input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container-check .checkmark:after {
    left: 9px;
    top: 3px;
    width: 7px;
    height: 14px;
    border: solid #999;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn-toggle {
    padding: 8px 20px;
    border: 1px solid #eee;
    border-radius: 5px;
    text-transform: uppercase;
    color: #999;
}

.input-boxes-row {
    display: flex;
    justify-content: space-between;
}
.single-row {
    margin: 5px 0;
}



/* Custom Radio Buttons */

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #b7bac9;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


.styled-input-box {
    padding: 6px 10px;
    border-bottom: 3px solid #777;
    border-left: 1px solid #777;
    border-right: 1px solid #777;
    border-top: 1px solid #777;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    color: #646464;
    background-color: #fff;
}



/* Custom File Upload */
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border-bottom: 3px solid #777;
    border-left: 1px solid #777;
    border-right: 1px solid #777;
    border-top: 1px solid #777;
    border-radius: 5px;
    padding: 3px 10px;
    background-color: #fff;
    font-size: 20px;
    color: #999;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.border-row {
  border: 2px solid #999;
  margin: 10px 0;
}


.tertiary-heading {
  color: red;
}

.column-flex {
  display: flex;
}
