/*
* Prefixed by Bilal Hussain
* PostCSS: v8.4.14,
* PrefixCode: v10.4.7
* Browsers: last 4 version
*/


*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.7;
  text-rendering: optimizeLegibility; }
input::-webkit-input-placeholder {
  color: #999; }
input::-moz-placeholder {
  color: #999; }
input:-ms-input-placeholder {
  color: #999; }
input::-ms-input-placeholder {
  color: #999; }
input::placeholder {
  color: #999; }
.border-form-event {
  margin: 4px auto;
  border-bottom: 1px solid #eee;
  width: 100%;
  border-radius: 100%; }

  /*Index Page   */
.container__flair__form {
  width: 90%;
  margin: 36px auto;
  padding: 1rem;
  font-size: 16px; }
  .container__flair__form form {
    color: #999; }
.form__select_events-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 10px auto; }
.input-date-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 10px auto; }
.select_event-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
.input-field-fs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
.input-dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
.input-dates-fs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
.primary-event-input {
  width: 100%; }
.select-event-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
.full-control-input {
  padding: 0px 20px;
  border-bottom: 3px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-top: 1px solid #eee;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  color: #999; }
.client__select-grid {
  padding: 7px 20px;
  border-bottom: 3px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-top: 1px solid #eee;
  border-radius: 5px;
  background-color: #fff;
  outline: none;
  border-radius: 5px;
  color: #999; }
  .client__select-grid option {
    padding: 10px 0; }
.event-full-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
.full-select {
  padding: 7px 20px;
  border-bottom: 3px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-top: 1px solid #eee;
  border-radius: 5px;
  background-color: #fff;
  outline: none;
  border-radius: 5px;
  color: #999; }
.input-fields-hs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 4px auto; }
.hs-input-fx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .hs-input-fx .input {
    padding: 7px 20px;
    border-bottom: 3px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-top: 1px solid #eee;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    color: #999; }
  .hs-input-fx .form-field-hs {
    padding: 7px 20px;
    border-bottom: 3px solid #333;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-top: 1px solid #eee;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    color: #999; }
.styled-input {
  padding: 0px 20px;
  border-bottom: 3px solid #777;
  border-left: 1px solid #777;
  border-right: 1px solid #777;
  border-top: 1px solid #777;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  color: #646464;
  background-color: #fff; }
.styled-dates {
  padding: 0px 20px;
  border-bottom: 3px solid #777;
  border-left: 1px solid #777;
  border-right: 1px solid #777;
  border-top: 1px solid #777;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  color: #646464;
  margin: 0 3px;
  background-color: #fff; }


.styled-dates-select {
    padding: 0px 20px;
    border-bottom: 3px solid #777;
    border-left: 1px solid #777;
    border-right: 1px solid #777;
    border-top: 1px solid #777;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    color: #646464;
    margin: 0 3px;
    background-color: #fff;
    height: 23px !important;
}
.input-date-grids {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 4px auto; }
.input-field-grids {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 4px auto; }
.input-field-full-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: ;
  grid-template-columns: repeat(1fr);
  grid-gap: 10px;
  margin: 4px auto; }




/* Form Basics */
.flex-row-sep {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}



/* Custom Checkbox  */
.checkbox-labled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.checkbox-labled-constract {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.checkbox-labled-checkGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}




.lable-text {
  margin-right: 10px;
  color: #646464 !important;
  position: absolute;
  left: 30px;
}

.lable-text-check {
  margin-right: 5px;
  color: #646464 !important;
  position: absolute;
  left: 25px;
  font-size: 9px;
  margin-top: 3px;
  font-weight: bold;

}

.container-check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;


}

/* Hide the browser's default checkbox */
.container-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 3px;
  color: #646464;
  border: 1px solid rgb(119, 119, 119);
}

/* On mouse-over, add a grey background color */
.container-check:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-check input:checked ~ .checkmark {
  background-color: #eee;
  color: #999;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-check .checkmark:after {
  left: 9px;
  top: 3px;
  width: 7px;
  height: 14px;
  border: solid #999;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.btn-toggle {
  padding: 8px 20px;
  border: 1px solid #eee;
  border-radius: 5px;
  text-transform: uppercase;
  color: #999;
}

.input-boxes-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -ms-grid;
  display: grid;
    -ms-grid-rows: auto 20px auto;
    grid-template-rows: auto auto; /* two rows with auto height */
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
    grid-template-columns: repeat(8, 1fr); /* four columns with equal width */
    gap: 20px; /* gap between grid items */

}

.input-boxes-row > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;

}

.input-boxes-row > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;

}

.input-boxes-row > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;

}

.input-boxes-row > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;

}

.input-boxes-row > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;

}

.input-boxes-row > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 11;

}

.input-boxes-row > *:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 13;

}

.input-boxes-row > *:nth-child(8) {
  -ms-grid-row: 1;
  -ms-grid-column: 15;

}

.input-boxes-row > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;

}

.input-boxes-row > *:nth-child(10) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;

}

.input-boxes-row > *:nth-child(11) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;

}

.input-boxes-row > *:nth-child(12) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;

}

.input-boxes-row > *:nth-child(13) {
  -ms-grid-row: 3;
  -ms-grid-column: 9;

}

.input-boxes-row > *:nth-child(14) {
  -ms-grid-row: 3;
  -ms-grid-column: 11;

}

.input-boxes-row > *:nth-child(15) {
  -ms-grid-row: 3;
  -ms-grid-column: 13;

}

.input-boxes-row > *:nth-child(16) {
  -ms-grid-row: 3;
  -ms-grid-column: 15;

}

.input__radios label {
  color: #646464 !important;
}

.block-input label {
  color: #646464 !important;
}

.form__events  {
  color: #646464 !important;
}

.input-boxes-row input[type="number"] {
  width: 100px;
}

.single-row {
  margin: 5px 0;
}
.single-row h3 {
  font-weight: normal;
  font-size: 12px;
  font-weight: bold;
}



/* Custom Radio Buttons */

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #777;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
      transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
      transform: scale(1);
}


.styled-input-box {
  padding: 6px 10px;
  border-bottom: 3px solid #777;
  border-left: 1px solid #777;
  border-right: 1px solid #777;
  border-top: 1px solid #777;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  color: #646464;
  background-color: #fff;
}



/* Custom File Upload */
.upload-btn-wrapper {
position: relative;
overflow: hidden;
display: inline-block;
}

.btn {
border-bottom: 3px solid #777;
  border-left: 1px solid #777;
  border-right: 1px solid #777;
  border-top: 1px solid #777;
  border-radius: 5px;
  padding: 3px 10px;
  background-color: #fff;
  font-size: 20px;
  color: #999;
}

.upload-btn-wrapper input[type=file] {
font-size: 100px;
position: absolute;
left: 0;
top: 0;
opacity: 0;
}

.border-row {
border: 2px solid #999;
margin: 10px 0;
}


.tertiary-heading {
color: red;
}

.column-flex {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}

.input-check-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* border: 1px solid #eee; */
}









/* ****************************************************
***************** EMPLOYEE EVENTS => PROFILE PAGE  SET ***
******************************************************/

/* Make Reuseable Grids */

.container-grid {
  width: 95%;
  margin: 50px auto;
  /* background-color: red; */
  color: #333;
}

.grid-3-fx {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
}


.grid-item-1 {
  border-right: 1px solid #eee;
  padding: 10px;
}
.grid-item-2{
  padding: 10px;
}
.grid-item-3 {
  border-left:1px solid #eee;
  padding: 10px;
}

.profile-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile__detail {
  /* margin-left: 30px; */
}

.profile__secondary--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
}
.profile__secondary--info-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 200px;
}
.profile__secondary--info-icon p {
  margin-left: 10px;
}
.profile__secondary--info p {
  margin-left: 10px;
}

.icon i {
  height: 30px;
  width: 30px;
  background-color: #1EA1A1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  color: #fff;
}




/* Components  */
.user__name {
  font-size: 25px;
  color: #1EA1A1;
}
.figure__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
}

.figure__profile img {
  border-radius: 2px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 5px solid #1EA1A1;
  padding: 5px;
  height: 200px;
  width: 200px;
}

.profile__secondary--info p a {
  color: #1EA1A1;
  text-decoration: none;
}

.rating__box {
  margin-top: 10px;
}
.rating__box i {
  font-size: 20px;
  color: goldenrod;
}



.flex-item-fx {
  display: flex;
  justify-content: space-between;
  background-color: #1e8f8f;
  padding: 6px 5px;
  border-radius: 4px;
  margin: 3px 0;
  color: #fff;
  font-size: 12px;
}

.flex-item-fxx {
  display: flex;
  flex-direction: column;
  background-color: #1e8f8f;
  padding: 4px 5px;
  border-radius: 4px;
}

.flex-item-fxx:not(:first-child) {
  margin-top: 3px;
}

.flex-item-fxx strong {
  font-size: 12px;
  color: #fff;
}
.flex-item-fxx span{
  font-size: 10px;
  color: #aadddd;
}

.flex-item-fx-sel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  /* padding: 5px 20px; */
  margin-top: 20px;
}

.flex-item-fx span {
  background-color: #fff;
  padding: 0 15px;
  border-radius: 100px;
  color: #1e8f8f;
  font-size: 10px;
  height: 20px;
  width: 100px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.divide-profile {
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

.select__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}


.flex-nav-note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn-notes {
  background-color: #1EA1A1;
  outline: none;
  border: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-notes i {
  margin-left: 5px;
}

.note-detail {
  height: 250px;
  width: 100%;
  background-color: #1e8f8f;
  margin-top: 20px;
  border-radius: 5px;
  overflow-y: scroll;
  padding: 10px;
  scroll-behavior: smooth;
}
.note--content {
  border-bottom: 1px solid #008080;
  background-color: #fff;
  border-radius: 4px;
  color: #008080;
  margin: 4px 0;
}


.flex-row-fx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  width: 70%;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

.flex__icon {
  height: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}


.flex-item2 {
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0;
}
.flex-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
}

.flex-item-content img {
  margin-left: 10px;
}


.flex-wrappper-flex {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px 800px;
  grid-template-columns: 40px 800px;
  margin: 10px 0;
}

.flex__tags {
  margin-left: 100px;
}
.tags:not(:first-child) {
  margin: 0 10px;
}
.tags {
  background-color: red;
  padding:5px 20px;
  border-radius: 100px;
}
.tag__label {
  font-weight: bold;
}

.tags-color-dark {
  background:-o-linear-gradient(150deg,#008080 0%,#21145E);
  background:linear-gradient(300deg,#008080 0%,#21145E);
  color: #fff;
}

.tags-color-success {
  background-color: rgb(193, 246, 231);
  color: #609f8e;
}
.tags-color-warn {
  background-color: #ffff95;
  color: #919121;
}

.tags-color-primary {
  background-color: #1e7583ee;
  color: #98cece;
}

.active-tag {
  color: #777;
}

.flex-wrapper-fx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
.flex-wrapper-side-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;

}
.flex-wrapper-side-2 {
  width: 300px;
  border-left: 1px solid #eee;
  padding-left: 20px;

}

.notes__action {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;

}

.note-dtl {
  padding: 5px 20px;
  font-size: 12px;
}
.notes__action p {
  font-size: 12px;
}
.notes__action span i {
  width: 10px;
  height: 10px;
  background-color: red;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  padding: 10px;
}

.flex-list {
  background-color: #1e8f8f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5px 0;
  padding: 2px 10px;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-list strong {
  color: #fff;
  font-size: 14px;
}
.flex-list span {
  height: 20px;
  width: 20px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100px;
  color: #1EA1A1;
}
.desc-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.desc-sub {
  position: relative;
}
.sub {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sub::after {
  /* content: "";
  width: 5px;
  height: 5px;
  background-color: #008080;
  border-radius: 100%;
  position: absolute;
  left: -10px; */

}

.form__grid {
  width: 70%;
  margin-top:0px ;
}
.form__grid .hs-input-fx {
  margin-bottom: 10px;
}


.grid-max-fx {
  width: 90%;
  display: grid;
  grid-template-columns: 150px 150px 700px 100px 100px;
  grid-gap: 20px;
  padding: 10px 10px;
  background-color: #eee;
}



i.remove-item {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: white;
}




 /* Table styles */
 table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #212529;
  margin-top: 10px;
}
th,
td {
  padding: 1.75px;
  vertical-align: middle;
  text-align: left;
  border-top: 1px solid #dee2e6;
}
th {
  background-color: #f7f7f794;
  font-weight: 200;
  color: #333;
}
th:last-child,
td:last-child {
  text-align: left;
}



.date-setting {
  width: 100px;
}
/* .select-setting {
  width: 250px !important;
} */

.input-setting {
  width: 770px !important;
}



/* ****************************************************
***************** EMPLOYEE EVENTS => PROFILE PAGE  END ***
******************************************************/


/* ****************************************************
***************** EMPLOYEE EVENTS => Admin Tab START ***
******************************************************/


.grid-admin-head {
  display: grid;
  grid-template-columns: 1fr 1fr 350px;
  grid-gap: 20px;
}

.no-border {
  border: none !important;
}

.flex-item-admin {
    display: flex;
    justify-content: space-between;
    background-color: #1e8f8f;
    padding: 2px 5px;
    border-radius: 5px;
    margin: -1px 0;
    color: #fff;
    font-size: 12px;
    align-items: center;
}

.align-top {
  margin-top: -16px;
}


.grid-input-wrapper {
  display: grid;
  grid-template-columns: 66% 33%;
  grid-template-rows: auto;
  grid-gap: 20px;
  margin-top: 20px;
}

.grid-input-fx-1 {
  /* background-color: red; */
  /* padding: 20px; */

  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 20px;
}
.grid-input-fx-2{
  /* background-color: orangered; */
  display: flex;
  align-items: flex-start;

}

.margin-custom {margin: 2px 0;}

.tag-light {
  height: 18px;
  width: 90px;
  background-color: #fff;
  color: #008080;
  text-align: center;
  border-radius: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.admin__heading {
  color: #008080;
  font-size: 30px;
  margin-bottom: 10px;
}


/********************* ADMIN PAGE START *******************  */

.admin-tab-container {
  width: 90%;
  margin: 2px auto;
}


.grid-boxes-admin {
  display: grid;
    grid-template-columns: 1fr 350px;
    gap: 20px;
    border-bottom: 2px solid rgb(51 51 51 / 53%);
    padding: 10px 0px;
    margin-bottom: 10px;
}

.grid-admin-row-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.grid-admin-row-container .grid-admin-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}



/* Checkbox Group */
.checkbox-group {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 20px;
  font-size: 12px;
}

.input-check-box {
  display: flex;
  align-items: center;
}

.input-check-box label {
  margin-right: 5px;
}

.grid-admin-lift-row {
  display: grid;
  grid-template-columns: 1 / -1;
  background-color: red;
}

.grid-admin-container-2,
.grid-admin-container-3 {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 10px;
}


.input-controls-checks-check{
  display: flex;
  align-items: flex-end;
}
.checkbox-controls{
  display: flex;
  /* justify-content: space-between; */
  font-size: 12px;
  margin-top: 20px;
}
.checkbox-controls label {
  margin-left: 20px;
}


.grid-lift-check {
  display: flex;
  align-items: flex-end;
}


.grid-boxes-admin-secondary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;

}

.grid-admin-row {
  border-top: 2px solid rgb(51 51  51 / 53%);
  margin-top: 15px;
}

.database-check {
  display: flex;
  align-items: center;
}
.database-check label {
  margin-right: 15px;
}


.grid-box-secondary {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  /* border: 1px solid #eee; */
  grid-gap: 10px;
}

.grid-box-secondary-3 {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 10px;
  /* height: 100px; */
}

.sep-space {
  /* background-color: red; */
  display: flex;
  /* justify-content: flex-end; */
  align-items: flex-end;
}

.sep-space-check {
  /* background-color: red; */
  display: flex;
  align-items: flex-end;
  margin-top: 60px !important;
}


.grid-box-secondary-1 {
  border-right: 2px solid rgb(51 51 51 / 53%);
  padding-right: 10px;
}

.grid-admin-container-1 {
  border-right: 2px solid rgb(51 51 51 / 53%);
  padding-right: 10px;
}
.margin-input {
  margin-top: 8px !important;
}

.input-secondary-box .life-input-input {
  border-radius: 5px !important;
    border: none;
    outline: none;
    border: 1px solid #777;
    background-color: transparent;
    color: #333;
}


.input-check-row {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.pos-flex {
  position: relative;
}
.position-text {
  position: absolute;
  top: -23px;
  font-weight: bold;
}


.input-check-row label {
  font-size: 12px;
}

#emailMark {
  margin-right: 15px;
}

.input-check-row .checkmark {
  position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 3px;
    color: #646464;
    border: 1px solid rgb(119, 119, 119);
}


.input-check-row .container-check .checkmark:after {
  left: 5px;
  top: 1px;
  width: 7px;
  height: 14px;
  border: solid #999;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.input-check-row .container-check input:checked ~ .checkmark {
  background-color: #eee;
  color: #999;
  /* margin-top: 4px; */
}

.input-check-row .lable-text {
  font-size: 14px;
}




.lift-1 {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;

  /* background-color: red; */

}
.input-lift {
  display: grid;
  /* background-color: palevioletred; */
  width: 100%;
  grid-template-columns: 20% 1fr;
  margin: 1px 0;

  display: flex;
  flex-direction: column;
}


.no-visible {
  visibility: hidden;
}

.lift-input-input {
  height: 18px;
  border: 1px solid #a3a0a0;
  outline: none;
  border-radius: 5px;
}

.lift-select-top {
  height: 20px;
  border: 1px solid #777;
  outline: none;
  border-radius: 5px;
  background-color: transparent;
  width: 150px;
  margin-left: 5px;
}

.date-lift  {
    height: 17.5px;
    padding: 0 6px;
    font-size: 11px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #777;
    margin-top: -2px;
}


.fix-row-input {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.grid-boxes-admin-lift  input, select {
  border-radius: 5px;
  border: none;
  outline: none;
  border: 1px solid #777;
  background-color: transparent;
  color: #333;
  /* background-color: red; */
  /* height: 18px !important; */
}

.input-secondary-box .life-input-input, .lift-select {
  height: 18px !important;
}

.label-margin {
  margin-bottom: 1px;
}
.label-lift {
  font-size: 12px;
}



.image__profile {}

.image__profile img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 5px solid #008080;
  border-radius: 2px;
  margin-top: 25px;
}

.lift__profile {
  display: flex;
  flex-direction: column;
}
.lift__profile img {
  height: 135px;
  width: 135px;
  object-fit: cover;
  border: 5px solid #008080;
  padding: 5px;
  border-radius: 5px;
}

.btn-profile-lift{
  background-color: #EE7623;
  color: #fff;
  width: 135px;
  padding: 2px 10px;
  border-radius: 30px;

  display: flex;
  font-size: 12px;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  font-weight: bold;
}

.no-pad {
  display: flex;
    justify-content: space-between;
    background-color: #1e8f8f;
    padding: 1px 5px;
    border-radius: 4px;
    margin: 3px 0;
    color: #fff;
    font-size: 12px
}


.btn-profile-remove {
  background-color: #d63519;
  color: #fff;
  padding: 3px 15px;
  margin-top: 10px;
  border-radius: 100px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-profile-remove i {
  background-color: #fff;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  color: #008080;
  display: flex;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}




/* Grid Input Groups => Admin Page */
.grid-input-group {
  width: 100%;
  /* background-color: red; */

  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 10px;
}



/* Grid Top Header Lift */
.grid-top-header-lift {
  display: grid;
  grid-template-columns: 1fr 350px;
  grid-gap: 20px;
}

.grid-top-header {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 20px;
}

.lift-top-inner {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 5px;
}

/* ****************************************************
***************** EMPLOYEE EVENTS => Admin Tab ENDS ***
******************************************************/



/* ****************************************************
***************** EMPLOYEE EVENTS => EMPLOYEE Tab START ***
******************************************************/

.grid-employee-admin {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
}


.grid-container__main {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 20px;
}


/* Grid LIST GRIDS */
.grid-list-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}



/* Grid ADMIN PROFILE */
.grid-container__main-item-2 {
  display: flex;
  justify-content: flex-end;
  /* background-color: red; */
}

.btn__admin-primary {
  background-color: #EE7623;
  color: #fff;
  width: 100%;
  margin-top: 10px;
  padding: 5px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  border-radius: 100px;
}

.admin__profile-grid {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.admin__profile-grid img {
  border: 6px solid #008080;
  border-radius: 4px;
  padding: 10px;
  height: 150px;
  width: 150px;

}

/* .grid-container__main-item-2 { background-color: goldenrod} */

.grid-container__main-item-1 {
  display: flex;
  flex-direction: column;
}

.grid-row-username h3 {
  font-size: 25px;
  color: #008080;
}

.grid-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 6px;
  margin: 3px 0;
  background-color: #008080;
  color: #fff;
  font-size: 12px;
  border-radius: 5px;
}


.grid-list-primary {
  font-weight: bold;
}

.date-list {
  height: 20px;
  width: 100px;
  background-color: #fff;
  color: #008080;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

/* Grid Input Grid SELECT */
.grid-select-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 10px;
}
.grid-select-input-grid {
  display: flex;
  align-items: center;
}


.grid-select-input-grid .rating__select {
  display: flex;
  flex: 1;
}


.tertiray__heading--grid h3 {
  font-size: 20px;
  font-weight: normal;
}



/* GRID SCREEENING */
.grid-screening {
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-gap: 10px;
}
.grid-skill {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(100% / 9), 1fr));
  grid-gap: 10px;
}



.card__screening {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /* border-bottom: 1px solid #eee; */
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-top: 0;
  border-radius: 5px;
  font-size: 12px;
}

/* .screen-box-11 {
  width: 160px;
} */

.card__header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #008080;
  color: #fff;
  padding: 5px 10px;
}

.header__bg-2{
  background-color: #ae95da;
}

.text__bg-2 {
  color: #ae95da;
}

.header__bg-1{
  background-color: #6BCBB8;
}

.card__check {
  border-bottom: 1px solid #777;
  border-left: 1px solid #777;
  border-right: 1px solid #777;
}

.check__center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px 0;
}


/* .card__content {
  padding: 10px 5px;
} */

.card__content select {
    width: 100%;
    padding: 5px 10px;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.card__content .screen-check {
  padding: 5px 10px;
  margin-top: 5px;
}
.label-check-check {
  font-size: 12px !important;
  margin-right: 20px;
}



/* SKILL - EXP => GRID */
.skill__grid, .skill__grid-ref {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 20px;
  margin: 0 auto;
  font-size: 12px;
}


.app-grid {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;
  font-size: 12px;
  margin: 0 auto;
}


.ref__gird {
  width: 100%;
  margin: 0 auto;
}

.ref__gridn__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 20px;
}

.ref__input {
  padding: 10px 20px;
  outline: none;
  border: 1px solid #777;
  color: #777;
  font-size: 14px;
  border-radius: 5px;
  width: 100%;
}

.button__ref{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 20px;
}

.btn__ref {
  width: 100%;
  outline: none;
  background-color: #008080;
  color: #fff;
  border: none;
  border-radius: 100px;
  border: 1px solid transparent;
}
.ref-1 {
  border: 1px solid #008080;
  background-color: transparent;
  color: #008080;
}


.expain-grid {
  display: grid;
  grid-column: 1 / -1;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.expain-grid-secondary {
  display: grid;
  grid-column: 1 / -1;
}

.edit__btn {
  background-color: #1EA1A1;
  color: #fff;
  padding: 5px 20px;
  width: 100px;
  text-align: center;
  border: 1px solid #777;
  text-decoration: none;
  border-radius: 100px;
}



.skill__grid--content {
  position: relative;
}
.divider__content {
  padding: 10px 0;
  border-bottom: 3px solid #777;
}

.skill__grid--content::after {
  content: "\2713";
  width: 20px;
  height: 20px;
  position: absolute;
  left: -25px;
  top: 0;
  background-color: #008080;
  border-radius: 100%;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

}





.grid-cv-interview {
  width: 80%;
  margin-top: -80px;
}

.grid__cv button {
  border: 1px solid #008080;
  padding: 6px 20px;
  text-align: center;
  outline: none;
  color: #fff;
  background-color: #ffff;
  border-radius: 100px;
  margin-right: 10px;
  margin-top: 10px;
  background-color: #008080;

}
.grid-interview-input textarea {
  width: 100%;
  border: 1px solid #777;
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;

}

.cv-option {
  width: 100px;
  background-color: #008080;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  padding: 5px 10px;
}


.grid-container__main-item-3 {
  display: flex;
  justify-content: space-around;
}
.grid-container__main label {
  font-size: 12px;
  margin-right: 10px;
}

.grid-list-group {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 20px;
  padding: 5px 6px;
}

.img__admin img {
  border: 4px solid #008080;
  padding: 5px;
  object-fit: cover;
  height: 170px;
  border-radius: 4px;
}

.btn-profile-lift-admin {
  background-color: #d63519;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  text-decoration: none;
  /* border-radius: 100px; */
}

/* ****************************************************
***************** EMPLOYEE EVENTS => EMPLOYEE Tab ENDS ***
******************************************************/




/* ****************************************************
***************** CLEITN'S DETAILS PAGE START ***
******************************************************/

.clients__detail {
  width: 95%;
  margin: 10px auto;
  font-size: 12px;
}

.clients__container-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 20px;
  font-size: 12px;
}

.client__grid-1 {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 10px;
}

.set__input { margin-top: -20px; }

.client__fields-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 10px;
  grid-template-rows: 30% 30%;
}

.client__field--group-badge {
  background-color: #AE95DA;
    padding: 4px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-weight: bold;
}

.badge__detail {
  height: 20px;
  width: 70px;
  background-color: #fff;
  color: #AE95DA;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

.client__fields-grid_2 {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 10px;
  grid-template-rows: 30% 30%;
}

.client__check--group{
  margin-top: 21px;
}

.checkbox-client-flex {
  width: 100px;
  display: flex;
}


.check-box-container-check {
  display: flex;
}

.set-check-width {
  width: 110px !important;
}


.group__checkbox-client {
  display: flex;
  align-items: center;
}


.group__checkbox-client label {
  margin-right: 30px;
}



.client__fields-grid .field__input {
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #777;
  width: 100%;
}

.expand__input {
  display: grid;
  grid-column: 1 / -1;
}

.client__select-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.client__select-group_2 {
  display: flex;
  flex-direction: column;
}
.client__select-group_2  select{
  padding: 5px 10px;
  border: 1px solid #777;
  border-radius: 5px;
}

.client__select-group select {
  padding: 5px 10px;
  border: 1px solid #777;
  border-radius: 5px;
}


.client__grid-2{}


.cleint___profile {
  display: flex;
}

.cleint___profile img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  padding: 5px;
  border-radius: 5px;
}


.clients__primary-info {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;
  padding: 10px 0;
}


.client__input-component {
  display: flex;
  flex-direction: column;

}

.control-form-component {
    padding: 5px 10px;
    border: 1px solid #777;
    border-radius: 5px;
    outline: none;
    background-color: transparent;
}

.clients__primary--sub {
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;
  width: 100%;
}

.badge___primary {
  background-color: #008080;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.date--box-primary, .select--box-primary, .input--box-primary{
  display: flex;
  flex-direction: column;
  margin-top: -11px;
}

.flex-line {
  display: flex;
  flex: 1;
}

.grid-fill {
  display: grid;
  grid-column: 2 / -1;
}


.account__details {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
  width: 100%;
  margin: 20px 0;
}

.account__detail--component {
  display: flex;
  flex-direction: column;
}

.select__check--grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
}

.client__check-group {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.client__check-group--secondary {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.room-top {
  margin-top: 10px;
}

.message__box-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 20px;
  margin-top: 20px;
}

.message__box {
  display: flex;
  flex-direction: column;
}



.grid-container__clients {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto auto;
  grid-gap: 20px;
  width: 100%;

  margin: 20px 0;
  align-items: center;
}


.expand-grid {
  grid-column: 4/ -1; /* expands from column 2 to column 6 */
}

.client__badge {
  background-color: #AE95DA;
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0 10px;
  height: 40px;
  margin-top: 18px;
  font-weight: bold;
}

.client__input-group {
  display: flex;
  flex-direction: column;
}

.checkItems_grid {
  display: flex;
  align-items: flex-end;
}

.client__checkboxes label {
  margin-right: 5px;
}

.checkGroup {
  display: flex;
  justify-content: space-between;
}
.client__checkboxes {
  display: flex;
  align-items: center;
}

.checkbox-group-secondary {
  display: flex;
  justify-content: space-between;
  width: 270px;
}



.checkbox-group-secondary label {
  display: flex;
  align-items: center;
}

.checkbox-group-secondary label span {
  margin-left: 10px;
}


.client__date-group {
  display: flex;
  flex-direction: column;
}

.client__date--group {
    padding: 5px 10px;
    border: 1px solid #777;
    border-radius: 5px;
    outline: none;
}


/* ****************************************************
***************** CLEITN'S DETAILS PAGE ENDS ***
******************************************************/



/* ****************************************************
***************** CONTRACTS DETAIL PAGE START ***
******************************************************/

.contracts__wrapper {
  width: 95%;
  margin: 10px auto;
  font-size: 12px !important;
}

.contract__grid {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 20px;
  /* background-color: #eee; */
  width: 100%;
}

.contract__grid--item-1 {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 10px;

}

.grid-group-contract-badges { }

.grid-group-contract-badges {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 10px;
}

.grid-group-contract-badges .badges {
  background-color: #6BCBB8;
  padding: 10px 7px;
  border-radius: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  color: #fff;
}

.grid-secondary-contracts .badges{
  background-color: #6BCBB8;
  padding: 10px 7px;
  border-radius: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  color: #fff;
}

.grid-group-contract-badges .badges__circle {
  height: 25px;
  width: 25px;
  border-radius: 100px;
  background-color: #1EA1A1;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-secondary-contracts {}

.grid-secondary-contracts .badges {
  width: 34%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #6BCBB8;
  padding: 11px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.badges__title {font-weight: bold;}

.grid-item-2-inner {
  display: grid;
  grid-column: 1 / 3;
}

.grid-item-3-inner {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  width: 50%;
}

.grid-item-4-inner {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 10px;
}

.grid-item-5-inner {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 10px;
}


.grid-item-7-inner {
  display: grid;
  grid-column: 1 / 3;
}

.grid-item-9-inner {
  display: grid;
  grid-column: 1 / -1;
}
.grid-check-items {
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-gap: 10px;
}

.group-checks {
  display: flex;
  align-items: center;
}

.inner-grid-1 {
  display: flex;
  align-items: flex-end;
}

.inner-grid-2, .inner-grid-3 {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 10px;
}

.innerGrids {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 10px;
}

.inner-grid-3 button {
  background-color: #1EA1A1;
  text-align: center;
  border: none;
  border-radius: 5px;
  color: #fff;
  height: 30px;

  margin-top: 17px;
}
.auto-emails {
  display: flex;
  flex-direction: column;
}

.auto-label {
  display: flex;
  align-items: center;
}
.ms-label {
  margin-left: 5px;
}


.badge__primary {
  padding: 4px 10px;
  background-color: #1EA1A1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
}
.badge__grid {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.select__grid-contract {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 10px;
}
.contract___logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contract___logo img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  margin-top: 20px;

  padding: 10px;
  border-radius: 5px;
}


.badge__inner-badge{
  background-color: #fff;
  color: #008080;
  height: 20px;
  width: 60px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contract-date-grid {
   margin: 10px auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 20px;
  font-size: 12px !important;
}


/* Calender & Date */
.calender__1 {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 10px;
  height: 200px;
}

.calender__date {
  display: flex;
  flex-direction: column;
}

.calender__2 {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 10px;
  -webkit-overflow-scrolling: touch;
  height: 300px;
  overflow: scroll;
  scroll-behavior: smooth;
}

.calender-box {
  display: flex;
  flex-shrink: 0;
  flex-basis: 35%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #eee;
  margin: 0 10px;
  height: 250px;
  align-items: center;
  justify-content: center;
}

.calender-box__heading {
  font-weight: bold;
  text-align: center;
}


.calender__date .date__date {
  padding: 5px 10px;
  border: 1px solid #777;
  outline: none;
  border-radius: 5px;
}

.input__dates--group {
  display: flex;
  flex-direction: column;
}

.input__input {
    padding: 5px 10px;
    outline: none;
    border: 1px solid #777;
    border-radius: 5px;
}

.form__box-3 {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 10px;
}

.form__box--selection {
  display: flex;
  flex-direction: column;
}

.select__select {
     padding: 4px 10px;
    outline: none;
    border: 1px solid #777;
    border-radius: 5px;
}
.grid__dates-form {
  height: 0 !important;
}

.job__finder {
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;

}

.job__find--box {
  display: flex;
  align-items: center;
}

.job__find--box > * {
  margin: 0 5px;
}
.job__finder-select select {
  padding: 8px 10px;
  border: 1px solid #777;
  border-radius: 5px;
  outline: none;
  width: 300px;
}

.job__finder-select label {
  font-weight: bold;
  margin-right: 10px;
}
.job__finder h3 {
  font-size: 20px;
}

.job__find--box button {
  background-color: #6BCBB8;
  padding: 10px 20px;
  border: 1px solid transparent;
  color: #fff;
  font-weight: bold;
  border-radius: 100px;
}


.job__secondary-section {

  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 50px;
  margin: 0 auto;
  font-size: 12px;
}

.finder__input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.job__secondary__description {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 20px;

  margin: 0 auto;
  font-size: 12px;
}

.description__box {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}



/* REUSEABLE CHECKBOXES COMPONENT */

.checkbox-contract-v2 {
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-gap: 10px;
  margin-top: 3px;
}
.checkbox-contract-v2 label {
  font-weight: bold;
}

.form-group-v2 {
  display: flex;
  align-items:flex-end;
}

.form-group-v2 .input-v2 {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group-v2 .label-v2 {
  position: relative;
  cursor: pointer;
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.form-group-v2 .label-v2:before {
  content:'';
  -webkit-appearance: none;
  background-color: #eee;
  border: 1px solid rgb(119, 119, 119);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  border-radius:3px;
}

.form-group-v2 .input-v2:checked + .label-v2:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 8px;
  width: 8px;
  height: 14px;
  border: solid #999;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}


/* Custom check box v2 */


/* Custom check box V3 */

.checkbox-contract-v3 label {
  font-weight: bold;
}

.form-group-v3 {
  display: flex;
  align-items:flex-end;
}

.form-group-v3 .input-v3 {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group-v3 .label-v3 {
  position: relative;
  cursor: pointer;
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.form-group-v3 .label-v3:before {
  content:'';
  -webkit-appearance: none;
  background-color: #eee;
  border: 1px solid rgb(119, 119, 119);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  border-radius:3px;
}

.form-group-v3 .input-v3:checked + .label-v3:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #999;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* Custom check box 33 */



.use-bold-text { font-weight: bold; }



.database-check-group {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.database-check-group  span {
  margin-right: 10px;
}

.label-check-email {
  margin-right: 20px;
}





/* ****************************************************
***************** CONTRACTS DETAIL PAGE ENDS ***
******************************************************/
