/*
* Prefixed by Bilal Hussain
* PostCSS: v8.4.14,
* PrefixCode: v10.4.7
* Browsers: last 4 version
*/


*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.7;
  text-rendering: optimizeLegibility; }
input::-webkit-input-placeholder {
  color: #999; }
input::-moz-placeholder {
  color: #999; }
input:-ms-input-placeholder {
  color: #999; }
input::-ms-input-placeholder {
  color: #999; }
input::placeholder {
  color: #999; }
.border-form-event {
  margin: 4px auto;
  border-bottom: 1px solid #eee;
  width: 100%;
  border-radius: 100%; }
.container__flair__form {
  width: 90%;
  margin: 36px auto;
  padding: 1rem;
  font-size: 16px; }
  .container__flair__form form {
    color: #999; }
.form__select_events-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 10px auto; }
.input-date-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 10px auto; }
.select_event-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
.input-field-fs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
.input-dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
.input-dates-fs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
.primary-event-input {
  width: 100%; }
.select-event-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
.full-control-input {
  padding: 0px 20px;
  border-bottom: 3px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-top: 1px solid #eee;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  color: #999; }
.client__select-grid {
  padding: 7px 20px;
  border-bottom: 3px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-top: 1px solid #eee;
  border-radius: 5px;
  background-color: #fff;
  outline: none;
  border-radius: 5px;
  color: #999; }
  .client__select-grid option {
    padding: 10px 0; }
.event-full-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
.full-select {
  padding: 7px 20px;
  border-bottom: 3px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-top: 1px solid #eee;
  border-radius: 5px;
  background-color: #fff;
  outline: none;
  border-radius: 5px;
  color: #999; }
.input-fields-hs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 4px auto; }
.hs-input-fx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .hs-input-fx .input {
    padding: 7px 20px;
    border-bottom: 3px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-top: 1px solid #eee;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    color: #999; }
  .hs-input-fx .form-field-hs {
    padding: 7px 20px;
    border-bottom: 3px solid #333;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-top: 1px solid #eee;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    color: #999; }
.styled-input {
  padding: 0px 20px;
  border-bottom: 3px solid #777;
  border-left: 1px solid #777;
  border-right: 1px solid #777;
  border-top: 1px solid #777;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  color: #646464;
  background-color: #fff; }
.styled-dates {
  padding: 0px 20px;
  border-bottom: 3px solid #777;
  border-left: 1px solid #777;
  border-right: 1px solid #777;
  border-top: 1px solid #777;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  color: #646464;
  margin: 0 3px;
  background-color: #fff; }
.input-date-grids {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 4px auto; }
.input-field-grids {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 4px auto; }
.input-field-full-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: ;
  grid-template-columns: repeat(1fr);
  grid-gap: 10px;
  margin: 4px auto; }




/* Form Basics */
.flex-row-sep {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}



/* Custom Checkbox  */
.checkbox-labled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.lable-text {
  margin-right: 10px;
  color: #646464 !important;
  position: absolute;
  left: 30px;
}
.container-check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;


}

/* Hide the browser's default checkbox */
.container-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 3px;
  color: #646464;
  border: 1px solid rgb(119, 119, 119);
}

/* On mouse-over, add a grey background color */
.container-check:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-check input:checked ~ .checkmark {
  background-color: #eee;
  color: #999;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-check .checkmark:after {
  left: 9px;
  top: 3px;
  width: 7px;
  height: 14px;
  border: solid #999;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.btn-toggle {
  padding: 8px 20px;
  border: 1px solid #eee;
  border-radius: 5px;
  text-transform: uppercase;
  color: #999;
}

.input-boxes-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -ms-grid;
  display: grid;
    -ms-grid-rows: auto 20px auto;
    grid-template-rows: auto auto; /* two rows with auto height */
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
    grid-template-columns: repeat(8, 1fr); /* four columns with equal width */
    gap: 20px; /* gap between grid items */

}

.input-boxes-row > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;

}

.input-boxes-row > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;

}

.input-boxes-row > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;

}

.input-boxes-row > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;

}

.input-boxes-row > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;

}

.input-boxes-row > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 11;

}

.input-boxes-row > *:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 13;

}

.input-boxes-row > *:nth-child(8) {
  -ms-grid-row: 1;
  -ms-grid-column: 15;

}

.input-boxes-row > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;

}

.input-boxes-row > *:nth-child(10) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;

}

.input-boxes-row > *:nth-child(11) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;

}

.input-boxes-row > *:nth-child(12) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;

}

.input-boxes-row > *:nth-child(13) {
  -ms-grid-row: 3;
  -ms-grid-column: 9;

}

.input-boxes-row > *:nth-child(14) {
  -ms-grid-row: 3;
  -ms-grid-column: 11;

}

.input-boxes-row > *:nth-child(15) {
  -ms-grid-row: 3;
  -ms-grid-column: 13;

}

.input-boxes-row > *:nth-child(16) {
  -ms-grid-row: 3;
  -ms-grid-column: 15;

}

.input__radios label {
  color: #646464 !important;
}

.block-input label {
  color: #646464 !important;
}

.form__events  {
  color: #646464 !important;
}

.input-boxes-row input[type="number"] {
  width: 100px;
}

.single-row {
  margin: 5px 0;
}
.single-row h3 {
  font-weight: normal;
  font-size: 12px;
  font-weight: bold;
}



/* Custom Radio Buttons */

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #777;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
      transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
      transform: scale(1);
}


.styled-input-box {
  padding: 6px 10px;
  border-bottom: 3px solid #777;
  border-left: 1px solid #777;
  border-right: 1px solid #777;
  border-top: 1px solid #777;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  color: #646464;
  background-color: #fff;
}



/* Custom File Upload */
.upload-btn-wrapper {
position: relative;
overflow: hidden;
display: inline-block;
}

.btn {
border-bottom: 3px solid #777;
  border-left: 1px solid #777;
  border-right: 1px solid #777;
  border-top: 1px solid #777;
  border-radius: 5px;
  padding: 3px 10px;
  background-color: #fff;
  font-size: 20px;
  color: #999;
}

.upload-btn-wrapper input[type=file] {
font-size: 100px;
position: absolute;
left: 0;
top: 0;
opacity: 0;
}

.border-row {
border: 2px solid #999;
margin: 10px 0;
}


.tertiary-heading {
color: red;
}

.column-flex {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}

.input-check-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* border: 1px solid #eee; */
}









/* ****************************************************
***************** EMPLOYEE EVENTS => PROFILE PAGE  SET ***
******************************************************/

/* Make Reuseable Grids */

.container-grid {
  width: 95%;
  margin: 50px auto;
  /* background-color: red; */
  color: #333;
}

.grid-3-fx {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
}


.grid-item-1 {
  border-right: 1px solid #eee;
  padding: 10px;
}
.grid-item-2{
  padding: 10px;
}
.grid-item-3 {
  border-left:1px solid #eee;
  padding: 10px;
}

.profile-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile__detail {
  /* margin-left: 30px; */
}

.profile__secondary--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
}
.profile__secondary--info-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50px;
}
.profile__secondary--info-icon p {
  margin-left: 10px;
}
.profile__secondary--info p {
  margin-left: 10px;
}

.icon i {
  height: 30px;
  width: 30px;
  background-color: #1EA1A1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  color: #fff;
}




/* Components  */
.user__name {
  font-size: 25px;
  color: #1EA1A1;
}
.figure__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
}

.figure__profile img {
  border-radius: 2px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 5px solid #1EA1A1;
  padding: 5px;
  height: 200px;
  width: 200px;
}

.profile__secondary--info p a {
  color: #1EA1A1;
  text-decoration: none;
}

.rating__box {
  margin-top: 10px;
}
.rating__box i {
  font-size: 20px;
  color: goldenrod;
}




.flex-item-fxx {
  display: flex;
  flex-direction: column;
  background-color: #1e8f8f;
  padding: 4px 5px;
  border-radius: 4px;
}

.flex-item-fxx:not(:first-child) {
  margin-top: 3px;
}

.flex-item-fxx strong {
  font-size: 12px;
  color: #fff;
}
.flex-item-fxx span{
  font-size: 10px;
  color: #aadddd;
}

.flex-item-fx-sel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  /* padding: 5px 20px; */
  margin-top: 20px;
}

.flex-item-fx span {
  background-color: #fff;
  padding: 0 15px;
  border-radius: 100px;
  color: #1e8f8f;
  font-size: 10px;
  height: 20px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.divide-profile {
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

.select__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}


.flex-nav-note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn-notes {
  background-color: #1EA1A1;
  outline: none;
  border: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-notes i {
  margin-left: 5px;
}

.note-detail {
  height: 200px;
  width: 100%;
  background-color: #1e8f8f;
  margin-top: 20px;
  border-radius: 5px;
  overflow-y: scroll;
  padding: 10px;
}
.note--content {
  border-bottom: 1px solid #008080;
  background-color: #fff;
  border-radius: 4px;
  color: #008080;
  margin: 4px 0;
}


.flex-row-fx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  width: 70%;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

.flex__icon {
  height: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}


.flex-item2 {
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 50px;
}
.flex-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
}

.flex-item-content img {
  margin-left: 10px;
}


.flex-wrappper-flex {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px 800px;
  grid-template-columns: 40px 800px;
  margin: 10px 0;
}

.flex__tags {
  margin-left: 100px;
}
.tags:not(:first-child) {
  margin: 0 10px;
}
.tags {
  background-color: red;
  padding:5px 20px;
  border-radius: 100px;
}
.tag__label {
  font-weight: bold;
}

.tags-color-dark {
  background:-o-linear-gradient(150deg,#008080 0%,#21145E);
  background:linear-gradient(300deg,#008080 0%,#21145E);
  color: #fff;
}

.tags-color-success {
  background-color: rgb(193, 246, 231);
  color: #609f8e;
}
.tags-color-warn {
  background-color: #ffff95;
  color: #919121;
}

.tags-color-primary {
  background-color: #1e7583ee;
  color: #98cece;
}

.flex-wrapper-fx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
.flex-wrapper-side-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;

}
.flex-wrapper-side-2 {
  width: 300px;
  border-left: 1px solid #eee;
  padding-left: 20px;

}

.notes__action {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;

}

.note-dtl {
  padding: 5px 20px;
  font-size: 12px;
}
.notes__action p {
  font-size: 12px;
}
.notes__action span i {
  width: 10px;
  height: 10px;
  background-color: red;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  padding: 10px;
}

.flex-list {
  background-color: #1e8f8f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5px 0;
  padding: 2px 10px;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-list strong {
  color: #fff;
  font-size: 14px;
}
.flex-list span {
  height: 20px;
  width: 20px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100px;
  color: #1EA1A1;
}
.desc-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.desc-sub {
  position: relative;
}
.sub {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sub::after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #008080;
  border-radius: 100%;
  position: absolute;
  left: -10px;

}

.form__grid {
  width: 70%;
  margin-top:20px ;
}
/* ****************************************************
***************** EMPLOYEE EVENTS => PROFILE PAGE  END ***
******************************************************/
